.rec.rec-arrow:disabled {
    visibility: hidden;
}


.rec.rec-slider-container {
    background-color: #C4C4C4;
    /* opacity: 75%; */
    border-radius: 2.5rem;
}

.rec.rec-pagination {
    visibility: collapse;
}