.search {
    justify-self: center;
    border: solid;
    padding: 0rem 1rem;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    /* width: 40rem; */
    transition: all 0.3s;
    color: var(--color-text);

    /* background-color: var(--color-background-900); */
    background-color: var(--color-primary-light);
}

.search::placeholder {}

.search:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}